<section id="edit-page">
    <div class="editSection">
        <div class="info-edit">
            <h2>"One ring to rule them all, one ring to find them, one ring to bring them all and in the darkness bind
                them."</h2>
        </div>

        <form method="post" class="editForm">
            <h2>Edit Post</h2>
            <ul class="noBullet">
                <li>
                    <label for="title">Title:</label>
                    <input type="text" class="inputFields" id="title" name="title" value="{{movie.title}}" />
                </li>
                <li>
                    <label for="genre">Genre:</label>
                    <input type="text" class="inputFields" id="genre" name="genre" value="{{movie.genre}}" />
                </li>
                <li>
                    <label for="director">Director:</label>
                    <input type="text" class="inputFields" id="director" name="director" value="{{movie.director}}" />
                </li>
                <li>
                    <label for="date">Year:</label>
                    <input type="number" class="inputFields" id="year" name="year" value="{{movie.year}}" />
                </li>
                <li>
                    <label for="image">Movie Poster:</label>
                    <input type="text" class="inputFields" id="image" name="imageUrl" value="{{movie.imageUrl}}" />
                </li>
                <li>
                    <label for="image">Rating:</label>
                    <input type="number" class="inputFields" id="rating" name="rating" value="{{movie.rating}}" />
                </li>
                <li>
                    <label for="description">Description:</label>
                    <textarea id="description" class="inputFields" name="description">{{movie.description}}</textarea>
                </li>
                <li id="center-btn">
                    <button type="submit" id="edit-btn">Edit</button>
                </li>
            </ul>
        </form>

    </div>
</section>
