<section id="details-page">
    <div class="main_card">
        <div class="card_left">
            <div class="card_datails">

                <h1>{{movie.title}}</h1>
                <div class="card-movie">
                    <div class="first-info">
                        <p class="card-genre">Genre: {{movie.genre}}</p>
                        <p class="card-director">Directror: {{movie.director}}</p>
                    </div>
                    <div class="second-info">
                        <p class="card-year">Year: {{movie.year}}</p>
                        <p class="card-ranking">
                            Rating: <span id="stars">{{#each movie.rating}} &#x2605; {{/each}}</span>
                        </p>
                    </div>

                </div>

                <p class="disc">Description: {{movie.description}}</p>
            </div>
        </div>
        <div class="card_right">
            <img src="{{movie.imageUrl}}" alt="image">
        </div>
    </div>
</section>