{{#each movies}}
<div class="flip flip-vertical">
    <div class="front">
        <img src="{{imageUrl}}" alt="{{title}}">
    </div>
    <div class="back">
        <h1>{{title}}</h1>
        <h2>Genre: {{genre}}</h2>
        <p>Description: {{description}}</p>
        <a href="/movies/{{_id}}" class="details">Details</a>
    </div>
</div>
{{else}}
<div class="no-posts">
    <p class="no-offer">There are no posts yet...</p>
</div>
{{/each}}